<% provide :title, @blog.title %>

<p id="notice"><%= notice %></p>

<p>
  <b>Post:</b>
  <%= @blog.post %>
</p>

<p>
  <b>Title:</b>
  <%= @blog.title %>
</p>

<p>
  <b>Slug:</b>
  <%= @blog.slug %>
</p>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
