<!DOCTYPE html>
<html>
<head>
  <title>Blogx |  <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>
    <% pages_list %>
    <ul>
    <li>
       <%= link_to "home", "/" %> 
       <% @pages. each do |page| %>
            <li>
           <%= link_to page.slug, page %>
           </li>
       <% end %>
    </li>
</footer>

</body>
</html>
